<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials :: head('Create a review')"/>
    <link rel="stylesheet" th:href="@{/css/leaveareview.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />

</head>
<body>
<nav th:replace="partials :: navbar"/>
<div class="container-fluid">
<div class="card d-flex flex-nowrap text-center" id="main-card">
   <h2 class="d-flex flex-nowrap"><div class="container-fluid text-center">Leave a Review</div></h2>
    <form th:action="@{'/reviews/create'}" method="post" th:object="${review}">
    <div class="slidecontainer">
        <label for="rating">Rating</label>
        <input type="range" min="1" max="5"  value ="1"  class = "slider" id="rating" th:field="*{rating}"/>
    <span>Rating:</span>
        <span id="f"></span>
        <script th:src="@{/js/reviews.js}"></script>
    </div>
    <br/>
    <div class="form-group">
        <label for="body">Body:</label>
        <textarea class="form-control text-center" rows="8" cols="100" id="body" th:field="*{body}" required="required"/>
        <br/>
    </div>
    <input  class= "text-center" type="submit"/>
</form>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<footer th:replace="footer2 :: footer"/>
</body>
</html>