<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials :: head('Edit a review')"/>
    <link rel="stylesheet" th:href="@{/css/leaveareview.css}" />

</head>
<body>
<nav th:replace="partials :: navbar"/>
<div class="container-fluid">

<div class="card d-flex flex-nowrap" id="main-card">
    <h2 class="d-flex flex-nowrap">Edit your Review</h2>
<form th:object="${review}" th:action="@{'/reviews/' + ${review.id} + '/edit'}" th:method="post">
    <div class="slidecontainer">
        <label for="rating">Rating</label>
        <input type="range" min="1" max="5"  value ="1"  class = "slider" id="rating" th:field="*{rating}"/>
        <span>Rating:</span>
        <span id="f"></span>
        <script th:src="@{/js/reviews.js}"></script>
    </div>
    <br/>
    <div class="form-group">
        <label for="body">Body:</label>
        <textarea class="form-control" rows="8" cols="100" id="body"  th:field="*{body}" required="required"/>
    </div>
    <input type="submit"/><br/><br/><input type="submit" value="Delete"  th:formaction="@{'/reviews/' + ${review.id} + '/delete'}" th:formmethod="post"/>
</form>
</div>
</div>
<footer th:replace="footer2 :: footer"/>
</body>
</html>