<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials ::  head('All Reviews')"/>
    <!--<link rel="stylesheet" th:href="@{/css/leaveareview.css}" />-->
    <link rel="stylesheet" th:href="@{/css/reviewsindex.css}" />
    <!--<link rel="stylesheet" th:href="@{/css/login.css}" />-->
</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div class="container-fluid">
    <div class="container-fluid mr-auto">
        <div class="row">
            <div th:each="review : ${reviews}">
                <div class="col-sm-6">
                    <div class="card text-center" style="width: 25em;" id="main-card">
                        <span th:text="'Posted By: ' + ${review.user.username}"></span>
                            <hr/>
                        <h3 th:text="${review.user.username} + ' gave us a '+${review.rating}+' out of 5!'"></h3>
                        <h4 th:text="${review.body}"></h4>
                            <hr/>
                        <div>
                            <p>Simple Budget</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer2 :: footer"/>
</body>
</html>