<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('All Reviews')">

</head>
<body>
<nav th:replace="partials :: navbar"></nav>
<div th:each="review : ${reviews}">


    <div class="container-fluid">
        <div>
            <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <span th:text="'Posted By: ' + ${review.user.username}"></span>
            </div>

                <div class="card-body">
                    <a th:href="@{|/reviews/${review.id}/edit|}">
                    <h1 class="card-title" th:text="${review.rating}"></h1></a>

                    <p class="card-text" th:text="${review.body}"></p>
                    <a th:if="${review.user.id == loggedinuser.id}" th:href="@{|/reviews/${review.id}/edit|}"><button>Edit Review</button></a>
                </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="footer2 :: footer"/>
</body>
</html>