<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('All Reviews')">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
<div th:each="review : ${reviews}">
    <style>
        body{
         background-color: #343a40;
        }
        .card-header{
            background-color: #343a40;
            color:lightblue;
        }
        .card-body{
            background-color: #343a40;
            color:lightblue;
        }
    </style>
    <div class="container-fluid">
        <div class="text-center">
            <div class="container-fluid">
                <div class="row">
                    <div th:each="review : ${reviews}">
                        <div class="col-sm-6">
                            <div class="card text-center" style="width: 19rem;" id="main-card">
                                <div class="card-header  border-light">
                                    Our Latest Reviews
                                    <span th:text="'Posted By: ' + ${review.user.username}"></span>
                                </div>
                                <!--<hr/>-->
                                <div class="card-body">
                                    <h5 class="card-title" th:text="'This user gave us a '+${review.rating}+' out of 5!'"></h5>
                                    <p class="card-text" th:text="${review.body}"></p>
                                </div>
                                <!--<hr/>-->
                                <div class="card-footer border-light">
                                    Simple Budget
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>

</html>