<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials :: head('Create a post')"/>
    <link rel="stylesheet" th:href="@{/css/create.css}" />

</head>
<body>
<nav th:replace="partials :: navbar"/>
<div class="container-fluid">
<div class="card d-flex flex-nowrap text-center w-100" id="main-card">
<form th:action="@{'/posts/create'}" method="post" th:object="${post}">
    <div class="form-group">
    <label for="title">Title:</label>
    <input class="form-control" id="title" pattern=".*\S+.*" title="title cannot be blank" th:field="*{title}" required="required"/>
    </div>
    <br/>
    <div class="form-group">
    <label for="body">Body:</label>
    <textarea class="form-control" rows="8" cols="100" pattern=".*\S+.*" title="body cannot be blank" id="body" th:field="*{body}" required="required"/>
    <br/>
    </div>
    <input type="submit"/>
</form>
</div>
</div>
<footer th:replace="footer2 :: footer"/>
</body>
</html>