<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Edit a post')">

</head>
<body>
<nav th:replace="partials :: navbar"/>
<form th:object="${post}" th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="post">
    <div class="form-group">
    <label for="title">Title:</label>
    <input class="form-control" id="title" th:field="*{title}"/>
    </div>
    <br/>
    <div class="form-group">
    <label for="body">Body:</label>
    <textarea class="form-control" rows="8" cols="100" id="body" th:field="*{body}"/>
    </div>
    <input type="submit"/><br/><br/><input type="submit" value="Delete"  th:formaction="@{'/posts/' + ${post.id} + '/delete'}" th:formmethod="post"/>
</form>
<footer th:replace="partials :: footer"/>
</body>
</html>