<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials :: head('Edit a post')"/>
    <link rel="stylesheet" th:href="@{/css/edit-posts.css}" />

</head>
<body>
<nav th:replace="navbar2 :: navbar"></nav>
<div class="container-fluid">
<div class="card d-flex flex-nowrap text-center w-100" id="main-card">
<form th:object="${post}" th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="post">
    <h2>Edit your Post</h2>
    <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" id="title" pattern=".*\S+.*" title="title cannot be blank" th:field="*{title}" required="required"/>
    </div>
    <br/>
    <div class="form-group">
    <label for="body">Body</label>
    <textarea class="form-control" rows="8" cols="100" id="body" pattern=".*\S+.*" title="body cannot be blank" th:field="*{body}" required="required"/>
    </div>
    <input class="btn" type="submit"/><br/><br/><input class="btn" type="submit" value="Delete"  th:formaction="@{'/posts/' + ${post.id} + '/delete'}" th:formmethod="post"/>
</form>
</div>
</div>
<br/>
<br/>
<footer th:replace="footer2 :: footer"/>
</body>
</html>