<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="partials :: head('Single Post')"/>
    <link rel="stylesheet" th:href="@{/css/show-posts.css}" />

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:0; padding:0; list-style-type:none;">
    <th:block th:include="partials :: navbar"></th:block>
</nav>
<div class="card text-center" id="main-card">
    <div class="card-header">
        <span th:text="'Posted By: ' + ${Post.user.username}"></span>
    </div>
    <div class="card-body">
        <h1 class="card-title" th:text="${Post.title}"></h1>
        <p class="card-text" th:text="${Post.body}"></p>
    </div>
<form  style="display: none;" th:action='|/comment/${Post.id}|' th:method='post' sec:authorize='isAuthenticated()' id="commentForm">
    <div class='form-group'>
        <div class='form-group'>
           <label for='comment'>Comment:</label>
           <textarea class='form-control' rows='4' cols='50' id="comment" name="commentbody"></textarea>
            <br/>
            </div>
       <input type='submit'/> </div> </form>
<a th:if="${loggedInUser.id == Post.user.id}" th:href="@{'/posts/' + ${Post.id} + '/edit'}"><button>Edit Post</button><br/></a>
<button sec:authorize='isAuthenticated()' id="show">Comment</button>
<ul>
    <li style="list-style-type: none;" th:each="comment : ${Post.comments}">
        <div class="card">
            <div class="card-header">
                <span th:text="'Posted By: ' + ${comment.user.username}"></span>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${comment.commentbody}"></p>
            </div>
            <button th:if="${comment != null}" sec:authorize='isAuthenticated()' class="showReply">Reply</button> <br/> <button th:if="${loggedInUser.id == comment.user.id}" class="editComment">Edit</button>
            <form th:if="${loggedInUser.id == comment.user.id}" style="display: none;" th:action='|/comment/${comment.id}/edit|' th:method='post' sec:authorize='isAuthenticated()' class="editForm">
                <div class='form-group'>
                    <div class='form-group'>
                        <label for='edit'>Edit:</label>
                        <textarea class='form-control' rows='4' cols='50' id="edit" name="commentedit" th:text="${comment.commentbody}" required="required"></textarea>
                        <br/>
                    </div>
                    <input type='submit'/> <br/> <input type="submit" th:formmethod="post" th:formaction="|/comment/${comment.id}/delete|" value="Delete"/>

                </div>

            </form>
            <form  style="display: none;" th:action='|/reply/${comment.id}|' th:method='post' sec:authorize='isAuthenticated()' class="replyForm">
                <div class='form-group'>
                    <div class='form-group'>
                        <label for='reply'>Reply:</label>
                        <textarea class='form-control' rows='4' cols='50' id="reply" name="commentreply" required="required"></textarea>
                        <br/>
                    </div>
                    <input type='submit'/>

                </div>

            </form>
            <ul>
                <li th:each="comment : ${comment.comments}">
                    <div class="card">
                        <div class="card-header">
                            <span th:text="'Posted By: ' + ${comment.user.username}"></span>
                        </div>
                        <div class="card-body">
                            <p class="card-text" th:text="${comment.commentbody}"></p>
                        </div>
                    </div>
                    <button th:if="${loggedInUser.id == comment.user.id}" class="editReply">Edit</button>
                    <form  th:if="${loggedInUser.id == comment.user.id}" style="display: none;" th:action='|/comment/${comment.id}/edit|' th:method='post' sec:authorize='isAuthenticated()' class="editReplyForm">
                        <div class='form-group'>
                            <div class='form-group'>
                                <label for='edit'>Edit:</label>
                                <textarea class='form-control' rows='4' cols='50' id="edit" name="commentedit" th:text="${comment.commentbody}" required="required"></textarea>
                                <br/>
                            </div>
                            <input type='submit'/> <br/> <input type="submit" th:formmethod="post" th:formaction="|/comment/${comment.id}/delete|" value="Delete"/>

                        </div>

                    </form>
                </li>
            </ul>
        </div>
    </li>
</ul>
</div>




<script>
        let button = document.getElementById("show");
        let commentForm = document.getElementById("commentForm");
        button.addEventListener("click", (e) => {
            e.preventDefault();
            commentForm.style.display = "block";
            button.style.display = "none";
        });
        let editForm = Array.from(document.getElementsByClassName("editForm"));
        let editComment = Array.from(document.getElementsByClassName("editComment"));
        let showreply = Array.from(document.getElementsByClassName("showReply"));
        let replyForm = Array.from(document.getElementsByClassName("replyForm"));
        let editReplyForm = Array.from(document.getElementsByClassName("editReplyForm"));
        let editReply = Array.from(document.getElementsByClassName("editReply"));


        showreply.forEach((element, index)=>{
            element.addEventListener("click", (e) => {
                e.preventDefault();
                button.style.display = "none";
                replyForm[index].style.display = "block";
            });
        });
        editComment.forEach((element, index) =>{
            element.addEventListener("click", (e) =>{
                e.preventDefault();
                editForm[index].style.display = "block";
            });

        });
        editReply.forEach((element, index) =>{
            element.addEventListener("click", (e) =>{
                e.preventDefault();
                editReplyForm[index].style.display = "block";
            });

        });

</script>

<footer th:replace="partials :: footer"></footer>
</body>
</html>