<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:include="partials :: head('Single Post')"/>
    <link rel="stylesheet" th:href="@{/css/show-posts.css}" />

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin:0; padding:0; list-style-type:none;">
    <th:block th:include="navbar2 :: navbar"></th:block>
</nav>
<div class="container-fluid">
<div class="card d-flex flex-nowrap w-100" id="main-card">
    <div class="card-header">
        <span th:text="'Posted By: ' + ${Post.user.username}"></span>
    </div>
    <div class="card-body">
        <h1 class="card-title d-flex flex-nowrap" th:text="${Post.title}"></h1>
        <p class="card-text d-flex flex-nowrap" th:text="${Post.body}"></p>
    </div>
<form  style="display: none;" th:action='|/comment/${Post.id}|' th:method='post' sec:authorize='isAuthenticated()' id="commentForm">
    <div class='form-group'>
        <div class='form-group'>
           <label for='comment'>Comment:</label>
           <textarea class='form-control' rows='4' cols='50' id="comment" name="commentbody"></textarea>
            <br/>
            </div>
       <input class="btn btn-outline-secondary w-50 custom-width" type='submit'/> </div> </form>
<a th:if="${loggedInUser.id == Post.user.id}" th:href="@{'/posts/' + ${Post.id} + '/edit'}"><button class="btn btn-outline-secondary w-50 custom-width">Edit Post</button><br/></a>
<button class="btn btn-outline-secondary w-50 custom-width" sec:authorize='isAuthenticated()' id="show">Comment</button>
<ul>
    <li style="list-style-type: none;" th:each="comment : ${Post.comments}">
        <div class="card d-flex flex-nowrap">
            <div class="card-header d-flex flex-nowrap">
                <span th:text="'Posted By: ' + ${comment.user.username}"></span>
            </div>
            <div class="card-body">
                <p class="card-text d-flex flex-nowrap" th:text="${comment.commentbody}"></p>
            </div>
            <button  th:if="${comment != null}" sec:authorize='isAuthenticated()' class="showReply btn btn-outline-secondary w-50 custom-width">Reply</button> <br/> <button th:if="${loggedInUser.id == comment.user.id}" class="editComment btn btn-outline-secondary w-50 custom-width mt-0">Edit</button>
            <form th:if="${loggedInUser.id == comment.user.id}" style="display: none;" th:action='|/comment/${comment.id}/edit|' th:method='post' sec:authorize='isAuthenticated()' class="editForm">
                <div class='form-group'>
                    <div class='form-group'>
                        <label for='edit'>Edit:</label>
                        <textarea class='form-control' rows='4' cols='50' id="edit" name="commentedit" th:text="${comment.commentbody}" required="required"></textarea>
                        <br/>
                    </div>
                    <input class="btn btn-outline-secondary w-50 custom-width" type='submit'/> <br/> <input class="btn btn-outline-secondary w-50 custom-width" type="submit" th:formmethod="post" th:formaction="|/comment/${comment.id}/delete|" value="Delete"/>

                </div>

            </form>
            <form  style="display: none;" th:action='|/reply/${comment.id}|' th:method='post' sec:authorize='isAuthenticated()' class="replyForm">
                <div class='form-group'>
                    <div class='form-group'>
                        <label for='reply'>Reply:</label>
                        <textarea class='form-control' rows='4' cols='50' id="reply" name="commentreply" required="required"></textarea>
                        <br/>
                    </div>
                    <input class="btn btn-outline-secondary w-50 custom-width" type='submit'/>

                </div>

            </form>
            <ul>
                <li style="list-style-type: none;" th:each="comment : ${comment.comments}">
                    <div class="card d-flex flex-nowrap">
                        <div class="card-header d-flex flex-nowrap">
                            <span th:text="'Posted By: ' + ${comment.user.username}"></span>
                        </div>
                        <div class="card-body">
                            <p class="card-text d-flex flex-nowrap" th:text="${comment.commentbody}"></p>
                        </div>
                    </div>
                    <button th:if="${loggedInUser.id == comment.user.id}" class="editReply btn btn-outline-secondary w-50 custom-width">Edit</button>
                    <form  th:if="${loggedInUser.id == comment.user.id}" style="display: none;" th:action='|/comment/${comment.id}/edit|' th:method='post' sec:authorize='isAuthenticated()' class="editReplyForm">
                        <div class='form-group'>
                            <div class='form-group'>
                                <label for='edit'>Edit:</label>
                                <textarea class='form-control' rows='4' cols='50' id="edit" name="commentedit" th:text="${comment.commentbody}" required="required"></textarea>
                                <br/>
                            </div>
                            <input class="btn btn-outline-secondary w-50 custom-width" type='submit'/> <br/> <input class="btn btn-outline-secondary w-50 custom-width" type="submit" th:formmethod="post" th:formaction="|/comment/${comment.id}/delete|" value="Delete"/>

                        </div>

                    </form>
                </li>
            </ul>
        </div>
    </li>
</ul>
</div>
</div>


<script th:src="@{/js/commentForm.js}"></script>

<footer th:replace="footer2 :: footer"></footer>
</body>
</html>