<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials :: head('Set up your account!')"/>
    <link rel="stylesheet" th:href="@{/css/account-setup.css}" />
</head>
<body>
<nav th:replace="partials :: navbar"/>
<div class="container-fluid">
<div class="card d-flex flex-nowrap" id="main-card">
<h1 class="d-flex flex-nowrap">Setup your Budget</h1>
<h2 class="d-flex flex-nowrap">Budget Yourself!</h2>
<br/>
<h3 th:if="${bills.size() >= 1}">List of bills</h3>
<div th:each="bill : ${bills}">
    <form th:action="|/bill/${bill.id}|" th:method="post">
        <div class="form-row">
        <div class="form-group col-sm-4 col-md-4">
    <h5 th:text="${bill.name} + ': '"></h5>
        </div>
            <div class="form-group col-sm-4 col-md-4">
                <h5 th:text="'$' + ${#numbers.formatDecimal(bill.amount,1,2)}"></h5>
        </div>
        <div class="form-group col-sm-4 col-md-4">
        <input class="btn" style="float: right;" type="submit"  value="Remove"/>
        </div>
        </div>
    </form>

</div>

<div class="form-group">
    <form th:action="@{/addBill}" method="post">
        <div class="form-row">
            <div class="form-group col-sm-12 col-md-8">
            <label for="savings">Enter your monthly savings</label>
            </div>
            <div class="form-group col-sm-12 col-md-4">
            <input class="form-control" id="savings" name="savings" type="number"/>
            </div>
        </div>
        <h3 for="billname">Input your bills.. </h3>
        <div class="form-row">
            <div class="form-group col-sm-12 col-md-8">
                <label for="billname">Enter the bill name here</label>
            </div>
            <div class="form-group col-sm-12 col-md-4">
            <input class="form-control" id="billname" name="billname"/>
            </div>
        </div>
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-8">
        <label for="billamount">Enter the bill amount here</label>
                </div>
                <div class="form-group col-sm-12 col-md-4">
                <input class="form-control" id="billamount" name="billamount"/>
                </div>
            </div>
        <br/>
        <input class="btn" type="submit" formaction= "/addBill" formmethod="post" value="Add Bill"/>
    </form>
</div>
<form th:action="@{/account-setup}" method="POST">
    <div class="form-row">
        <div class="form-group col-sm-12 col-md-8">
            <label for="monthlyincome">Enter Your Income Amount Each Paycheck</label>
        </div>
        <div class="form-group col-sm-12 col-md-4">

        <input th:if="${account != null &amp;&amp; account.option == 1}" class="form-control" id="monthlyincome" name="monthlyincome" placeholder="$" th:value="${#numbers.formatDecimal(account.income/4,1,2)}"/>
        <input th:if="${account != null &amp;&amp; account.option == 2}" class="form-control" id="monthlyincome" name="monthlyincome" placeholder="$" th:value="${#numbers.formatDecimal(account.income/2,1,2)}"/>
        <input th:if="${account != null &amp;&amp; account.option == 3}" class="form-control" id="monthlyincome" name="monthlyincome" placeholder="$" th:value="${#numbers.formatDecimal(account.income,1,2)}"/>
        <input th:if="${account == null}" class="form-control" id="monthlyincome" name="monthlyincome" placeholder="$"/>
        </div>
    </div>

        <ul class="list-group list-group-flush">
            <li style="background-color: #343a40;"  class="list-group-item"><div class="form-check">
                <input th:if="${account != null &amp;&amp; account.option == 1}" class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1" checked="checked"/>
                <input th:if="${account != null &amp;&amp; account.option != 1}" class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1"/>
                <input th:if="${account == null}"  class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1"/>
                <label class="form-check-label" for="exampleRadios1">
                    Weekly
                </label>
            </div></li>
            <li style="background-color: #343a40;"  class="list-group-item"><div class="form-check">

                <input th:if="${account != null &amp;&amp; account.option == 2}" class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option2" checked="checked"/>
                <input th:if="${account != null &amp;&amp; account.option != 2}" class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option2"/>
                <input th:if="${account == null}" class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option2"/>

                <label class="form-check-label" for="exampleRadios2">
                    Bi-weekly
                </label>
            </div></li>
            <li style="background-color: #343a40;"  class="list-group-item"><div class="form-check">
                <input th:if="${account != null &amp;&amp; account.option == 3}" class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3" value="option3" checked="checked"/>
                <input th:if="${account != null &amp;&amp; account.option != 3}" class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3" value="option3"/>

                <input th:if="${account == null}" class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3" value="option3"/>

                <label class="form-check-label" for="exampleRadios3">
                    Monthly
                </label>
            </div></li>
        </ul>
<br/>
    <!--<div class="form-group">-->
        <!--<label for="savingsoverall">How much do you current have saved</label>-->
        <!--<input th:if="${account != null}" class="form-control" id="savingsoverall" name="savingsoverall" placeholder="This is optional.. If you would like us to track your savings enter it here" th:value="${account.savings}"/>-->
        <!--<input th:if="${account == null}" class="form-control" id="savingsoverall" name="savingsoverall" placeholder="This is optional.. If you would like us to track your savings enter it here"/>-->
    <!--</div>-->
    <input class="btn" value="Budget Yourself!!" type="submit" />
</form>
</div>
</div>
<footer th:replace="partials :: footer"/>
</body>
</html>