
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Sign Up!')">

</head>
<body>
<nav th:replace="partials :: navbar"/>
<h1>Setup your Finacnial Account</h1>
<h2>Budget Yourself!</h2>
<form th:action="@{/account-setup}" method="POST">
    <div class="form-group">
        <label for="monthlyincome">Enter Your Income Amount Each Paycheck</label>
        <input class="form-control" id="monthlyincome" name="monthlyincome" placeholder="$"   th:required="required"/>
        <ul class="list-group list-group-flush">
            <li class="list-group-item cuscolor"><div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1"/>
                <label class="form-check-label" for="exampleRadios1">
                    Weekly
                </label>
            </div></li>
            <li class="list-group-item cuscolor"><div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option2"/>
                <label class="form-check-label" for="exampleRadios2">
                    Bi-weekly
                </label>
            </div></li>
            <li class="list-group-item cuscolor"><div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3" value="option3"/>
                <label class="form-check-label" for="exampleRadios3">
                    Monthly
                </label>
            </div></li>
        </ul>
    </div>

    <div class="form-group">
        <label for="savingsoverall">How much do you current have saved</label>
        <input class="form-control" id="savingsoverall" name="savingsoverall" placeholder="This is optional.. If you would like us to track your savings enter it here"/>
    </div>
    <div class="form-group">
        <label for="savings">How much would you like to save every month?</label>
        <input class="form-control" id="savings" name="savings" type="number" th:required="required"/>
    </div>



    <div class="form-group">
        <h3 for="billname">Enter your bills here.. </h3>
        <label for="billname">Enter the bill name here</label>
        <input class="form-control" id="billname" name="billname" th:required="required" />
        <label for="billamount">Enter the bill amount here</label>
        <input class="form-control" id="billamount" name="billamount" th:required="required"/>
    </div>
    <input value="Calculate my Budget!!" type="submit" />
</form>

<footer th:replace="partials :: footer"/>
</body>
</html>