<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials :: head('Edit Profile')"/>
    <link rel="stylesheet" th:href="@{/css/edit-profile.css}" />

</head>
<body>
<nav th:replace="partials :: navbar"/>

<div class="container text-center;" id="main-card">
    <div class ="row">
        <div class="col l12">
            <h2>Edit Profile</h2>
            <div class = "col l8 offset-l2">
                <form  th:object="${user}" th:action="@{|/users/${user.id}/edit|}" th:method="POST" >
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                    <h5 for="username">Username</h5>
                        </div>
                        <div class="form-group col-sm-6">
                            <input class="form-control disa" id="username" name="username" pattern=".*\S+.*" title="username cannot be blank" th:field="*{username}" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                    <h5 for="email">Email</h5>
                        </div>
                        <div class="form-group col-sm-6">
                            <input class="form-control" id="email" name="email" pattern=".*\S+.*" title="email cannot be blank" type="email" th:field="*{email}" required="required" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <h5 for="phonenumber">Phone Number</h5>
                        </div>
                        <div class="form-group col-sm-6">
                            <input class="form-control" placeholder="Phone number is for notifications." id="phonenumber" th:field="*{phonenumber}" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                    <h5 for="newpassword">New Password</h5>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="password" id="newpassword" class="form-control" name ="newpassword" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <h5 for="confirmpassword">Confirm New Password</h5>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="password" id="confirmpassword" class="form-control" name ="confirmpassword" />
                        </div>
                    </div>
                <br/>

                    <input  class="btn" type="submit" />
                </form>
            </div>
                <div th:if="${userExists  &amp;&amp; !emailExists}" id="usernameError" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Register Error</h4>
                            </div>
                            <div class="modal-body">
                                <p>Username is already taken! please try again.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div th:if="${emailExists &amp;&amp; !userExists}" id="emailError" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Register Error</h4>
                            </div>
                            <div class="modal-body">
                                <p>Email is already taken! please try again.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div th:if="${emailExists &amp;&amp; userExists}" id="Both" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Register Error</h4>
                            </div>
                            <div class="modal-body">
                                <p>Both email and username are taken, try again!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div th:if="${!passwordsMatch}" id="passwordError" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Register Error</h4>
                            </div>
                            <div class="modal-body">
                                <p>Both password fields must match</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

    </div>
</div>
<footer th:replace="footer2 :: footer"/>
<script type="text/javascript" th:src="@{/js/Validation.js}"></script>
</body>
</html>