<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials :: head('Home | Simple Budget')"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}" />

</head>
<body>
<nav th:replace="partials :: navbar"/>
<div class="container-fluid">
<div class="card color-white d-flex pl-2 flex-nowrap w-75 main-card">
<h2 class="d-flex pl-2" th:text="'Welcome, ' + ${user.username}"></h2>
    <div class="form-row">
        <div class="form-group pl-2 col-sm-8">
        <h4 class="d-flex pl-2 flex-nowrap" th:if="${account != null}">Your monthly income</h4>
        </div>
        <div class="form-group pl-2 col-sm-4">
        <h4 class="d-flex pl-2 flex-nowrap" th:if="${account != null}" id="monthlyIncome" th:text="'$' + ${#numbers.formatDecimal(account.getIncome(),1,2)}"></h4>
        </div>
    </div>
    <hr th:if="${bills.size() >= 1}"/>


    <!--<h3  class="card-header" th:if="${account != null}">Your Current Savings</h3>-->
    <!--<div class="card-body">-->
        <!--<p th:if="${account != null}" id="overallSavings" th:text="${account.getSavings()}"></p>-->
    <!--</div>-->

<h3 class="pl-2" th:if="${bills.size() >= 1}">Your bills</h3>
<div th:each="bill : ${bills}">
    <div class="form-row">
        <div class="form-group pl-2 col-sm-8">
    <h4 class="d-flex flex-nowrap pl-2 text-capitalize" th:text="${bill.name} +': '"></h4>
        </div>
        <div class="form-group pl-2 col-sm-4">
            <h4 class="d-flex pl-2 flex-nowrap" th:text="'$' + ${#numbers.formatDecimal(bill.amount,1,2)}"></h4>
            <p style="display:none;" class="billAmount" th:text="${bill.amount}"></p>
            <p style="display:none;" class="billName" th:text="${bill.name}"></p>

        </div>
    </div>
</div>
    <hr th:if="${bills.size() >= 1}"/>
    <div>
        <div class="form-row">
            <div class="form-group pl-2 col-sm-8">
        <h4 class="d-flex pl-2 flex-nowrap" th:if="${billTotal > 0}">Total of your bills:</h4>
            </div>
            <div class="form-group pl-2 col-sm-4">
        <h4 class="d-flex pl-2 flex-nowrap" th:if="${billTotal > 0}" id="billTotal" th:text="'$' + ${#numbers.formatDecimal(billTotal,1,2)}"></h4>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group pl-2 col-sm-8">
        <h4 class="pl-2" th:if="${billTotal > 0}">Money left over after your bills:</h4>
            </div>
            <div class="form-group pl-2 col-sm-4">
        <h4 class="d-flex pl-2 flex-nowrap" th:if="${billTotal > 0}" id="moneyAfterBills" th:text="'$' + ${#numbers.formatDecimal(moneyAfterBills,1,2)}"></h4>
            </div>
        </div>
        <hr th:if="${bills.size() >= 1}"/>
        <h4 class="d-flex pl-2 flex-nowrap" th:if="${account != null &amp;&amp; account.option == 1 &amp;&amp; bills.size() >= 1}"   th:text="'You need to save: ' + '$' + ${#numbers.formatDecimal(billTotal/4,1,2)} + ' per paycheck to have enough to pay your bills by the end of the month.'"></h4>
        <h4 class="d-flex pl-2 flex-nowrap" th:if="${account != null &amp;&amp; account.option == 2 &amp;&amp; bills.size() >= 1}"   th:text="'You need to save: ' + '$' + ${#numbers.formatDecimal(billTotal/2,1,2)} + ' per paycheck to have enough to pay your bills by the end of the month.'"></h4>
        <h4 class="d-flex pl-2 flex-nowrap" th:if="${account != null &amp;&amp; account.option == 3 &amp;&amp; bills.size() >= 1}"   th:text="'You need to save: ' + '$' + ${#numbers.formatDecimal(billTotal,1,2)}  + ' per paycheck to have enough to pay your bills by the end of the month.'"></h4>
        <h4 class="d-flex pl-2 flex-nowrap" th:if="${billTotal > 0}" id="spendAmount"></h4>

<a href="/account-setup"><button class="btn ml-2" th:if="${account == null}">Setup Budget!</button></a>
<a href="/account-setup"><button class="btn ml-2" th:if="${account != null}">Edit Budget!</button></a>
</div>
</div>



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:src="@{js/Chart.js}"></script>
<div th:if="${bills.size() >= 1}" id="piechartsize" class="pchartclass pl-2 card d-flex w-75">
<div th:if="${bills.size() >= 1}" id="piechart" class="pl-2"></div>
</div>
<div class="card d-flex w-75" id="main-card1">
    <div class="row mb-5">
        <a th:if="${bills.size() >= 1}" href="/piechart"><button th:if="${bills.size() >= 1}" class="pl-2 btn mb-2 col-sm-12">Fullscreen Chart</button></a>
    <h2 class="d-flex pl-2 col-sm-12 userInfo">User information</h2>
    <h3 class="d-flex pl-2 col-sm-12 userInfo" th:text="${user.username}"></h3>
    <h3 class="d-flex pl-2 col-sm-12 userInfo" th:text="${user.email}"></h3>
    <h3 class="d-flex pl-2 col-sm-12 userInfo" th:text="${user.phonenumber}"></h3> <br/>
    <a th:href="@{|/users/${#authentication.principal.id}/edit|}"><button class="btn ml-2 col-sm-12">Edit Profile</button></a>
    </div>
</div>
</div>
<br/>
<br/>
<br/>
<br/>
<footer th:replace="footer2 :: footer"/>
</body>

</html>
