<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Your Profile ')">

</head>
<body>
<nav th:replace="partials :: navbar"/>
<h1>User information</h1>
<h2 th:text="${user.username}"></h2>
<h2 th:text="${user.email}"></h2>
<h2 th:text="${user.phonenumber}"></h2>


<h3 th:if="${account != null}">Your monthly income</h3>
<p th:if="${account != null}" th:text="${account.getIncome()}"></p>

<h3 th:if="${bills.size() >= 1}">Your bills</h3>
<div th:each="bill : ${bills}">
    <h4 th:text="${bill.name}"></h4>
    <p th:text="${bill.amount}"></p>
    <hr />
</div>
<h3 th:if="${billTotal > 0}">Total of your Bills</h3>
<p th:if="${billTotal > 0}" th:text="${billTotal}"></p>
<h3 th:if="${billTotal > 0}">Money left over after your bills</h3>
<p th:if="${billTotal > 0}" id="moneyAfterBills" th:text="${moneyAfterBills}"></p>
<a href="/account-setup"><button th:if="${account == null}">setup your account!</button></a>
<a href="/account-setup"><button th:if="${account != null}">edit your account!</button></a>
<h3 th:if="${billTotal > 0}">Calculate what you can spend per day after bills!</h3>

<h4 th:if="${billTotal > 0}" id="spendAmount"></h4>

<h4 th:if="${account != null &amp;&amp; account.option == 1}"   th:text="'You need to save: ' + ${billTotal/4} + ' per paycheck.'"></h4>
<h4 th:if="${account != null &amp;&amp; account.option == 2}"   th:text="'You need to save: ' + ${billTotal/2} + ' per paycheck.'"></h4>
<h4 th:if="${account != null &amp;&amp; account.option == 3}"   th:text="'You need to save: ' + ${billTotal}  + ' per paycheck.'"></h4>

    <script>
        let moneyAfterBills = document.getElementById("moneyAfterBills");
        let moneyAfterBillsNumber = Number(moneyAfterBills.innerText);
        let spendAmount = document.getElementById("spendAmount");
        let amount = moneyAfterBillsNumber/28;
        spendAmount.innerText = "You can spend " + amount.toFixed(2) + " per day.";

    </script>
</body>
<footer th:replace="partials :: footer"/>

</html>