body {
    background: url("../img/stockbgimage.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}






#main-card {
    background-color: #343a40;
    color: white;
    width: 50%;
    height: 25%;
    margin: 150px auto 500px auto;
    padding: 100px

}
@media screen and (min-width: 569px){
    .w-100{
        width: 50% !important;
    }
}