body {
    background: url("../img/stockbgimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}



textarea.form-control {
    height: 7em;
}


#main-card {
    background-color: #343a40;
    color: white;
    width: 50%;
    height: 25%;
    margin: 5em auto 3em auto;
    padding: 1em;

}
.btn {
    background-color: white;
    color: #343a40;
}
label{
    font-size: 1.2rem;
}
@media screen and (min-width: 569px){
    .w-100{
        width: 50% !important;
    }
}