body {
    background: url("../img/stockbgimage.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

#main-card {

    background-color: #343a40;
    color: white;
    width: 50%;
    height: 25%;
    margin: 75px auto 500px auto;
    padding: 25px

}

.btn {
    background-color: white;
    color: #343a40;
}
