

body, html {
    height: 100%;
}
.footer{
    position: absolute;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #1E3042;
    /*background: url("../img/stockbgimage.jpg")  center;*/
    background-size: cover;

}
.card-body{
    color:white;
    }
    h2{
    color:#eae0c8
    }
    i{
    color:#eae0c8;
    }

.btn-link{

    color:#eae0c8;
}
hr{
    color: #f4f4f4;
}
@media screen and (max-width: 660px) {

    /*body, html {*/
        /*height: 100%;*/
        /*width: 750px;*/
    /*}*/


    .footer {
        position: relative;
    }
}