/* parallex section*/
#plx {
    height: 750px;
    background: url("../img/stockbgimage.jpg");
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wtitle{
    padding: 50px 20px;

}

.wtitle h3{
    top:75px;
    padding-top: 0px;
    border-top-width: 30px;
    margin-top: 70px;
    z-index: 100;
    height: auto;
    color:white;
    background: rgba(204, 204, 204, 0.5);


}
.wtitle h3{

    font-size: 32px;
    font-weight: bold;
}






/* about us*/
#aboutsb{
    height: 700px;
    background: url("../img/fixedlogo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    padding: 150px 20px;

}
.content h2{
    color: white;
    font-size: 36px;
    font-weight: bold;
}

/*.content h2{*/
    /*color:whitesmoke;*/
    /*text-align: center;*/
    /*font-size: 36px;*/
    /*z-index: 100;*/
    /*position: absolute;*/
    /*top: 2800px;*/
    /*right:152px;*/

/*}*/
body{
    background-color: #343a40;
}