/* parallex section*/
#plx {
    height: 750px;
    background: url("../img/stockbgimage.jpg");
    /*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wtitle{
    padding: 50px 20px;

}

.wtitle h3{
    top:75px;
    padding-top: 0px;
    border-top-width: 30px;
    margin-top: 70px;
    z-index: 100;
    height: auto;
    color:white;
    background: rgba(204, 204, 204, 0.5);


}
.wtitle h3{

    font-size: 32px;
    font-weight: bold;
}






/* about us*/
#aboutsb{
    height: 700px;
    background: url("../img/fixedlogo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about{
    padding: 150px 20px;

}
.content h2{
    color: white;
    font-size: 36px;
    font-weight: bold;
}

/*.content h2{*/
    /*color:whitesmoke;*/
    /*text-align: center;*/
    /*font-size: 36px;*/
    /*z-index: 100;*/
    /*position: absolute;*/
    /*top: 2800px;*/
    /*right:152px;*/

/*}*/
body{
    background-color: #343a40;
}
#main-card {
    background-color: #343a40;
    color: white;
    width: 50%;
    height: 25%;
    /*margin: 6.25em auto 1.563em auto;*/

}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: white;
}

/* ====== mobile view ====== */
@media screen and (min-width: 400px) {

    body, html {
        height: 100%;
    }
    .row{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 2em;
        padding-left: inherit;
    }

}
@media screen and (min-width: 700px) {

    body, html {
        height: 100%;
    }
    .row{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 2em;
        padding-left: 11em;
    }

}
@media screen and (min-width: 1000px) {
    .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 12em;
        padding-left: 8em;
        margin-right: -15px;
        margin-left: -15px;
    }
}