body {
    background: url("../img/stockbgimage.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

#main-card {
    background-color: black;
    color: #44a8c5;
    width: 50%;
    height: 25%;
    margin: 50px auto 20px auto;

}
