
body {
    background: url("../img/stockbgimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

#main-card {
    background-color: #343a40;
    color: white;
    width: 50%;
    height: 25%;
    margin: 50px auto 20px auto;

}


@media screen and (min-width: 569px){
    #main-card {
        margin: 20px auto 5px auto;
    }

}

@media screen and (max-height: 365px){
    #main-card{
        width:100%;
        padding: 50px;
    }
    .footer-bottom{
        position: -ms-device-fixed;
    }
    #footer{
        position: absolute;
    }
    .footer{
        position: absolute;
    }
}

@media screen and (max-width: 415px){
    #main-card{
        width:100%;
        padding: 50px;
    }
    .footer-bottom{
        position: -ms-device-fixed;
    }
    #footer{
        position: absolute;
    }
    .footer{
        position: absolute;
    }
}
