body {
    font-family: "Montserrat", sans-serif;
    background: url("../img/stockbgimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
h1 {
    text-align: center;
    color: white;
}
.userInfo{
    text-decoration: underline;
}

.main-card {
    width: 50%;
    margin: 50px auto 0 auto;

    background-color: #343a40;
    color: white;
    padding: 10px 50px 10px 50px;
}
#main-card1 {
    width: 50%;
    margin: 0 auto;
    background-color: #343a40;
    color: white;
    padding: 25px;
}


#piechart {
    width: 100%;
    min-height: 450px;
    margin: 0 auto;
}

.pchartclass {
    width: 100%;
    min-height: 450px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.btn {
    background-color: white;
    color: #343a40;
}


hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: white;
}

@media screen and (min-width: 319px) and (max-width: 376px){
    .userInfo{
        font-size: .76rem;
    }
}

@media screen and (max-width: 415px) and (min-width: 410px){
    .userInfo{
        font-size: 1rem;
    }
}
