
body {
    background-color: #66ccff;
}
h1 {
    text-align: center;
    color: #66ccff;

}

#main-card {
    width: 50%;
    margin: 0 auto;
}

#piechart {
    width: 50%;
    height: 500px;
    margin: 0 auto;
}

