

body, html {
    height: 100%;
}
.footer{
    position: absolute;
}

body {
    background: url("../img/stockbgimage.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

a {
    color: white;
}

a:hover {
    color: white;

}
.card-body{
    color:white;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 1.5px black;
}


h2{
    color:#eae0c8;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 1.5px black;
}
i{
    color: white;
    font-weight: bold;
    text-shadow: 1.5px 1.5px 1.5px black;
}

i:hover {
    color: white;
}

.btn-link{
    font-weight: bold;
    text-shadow: 1.5px 1.5px 1.5px black;
    color:#eae0c8;
}
.btn-link:hover{
    color: white;
}
ul {list-style-type:none;}
/*div.picture{*/
    /*background-image: url("../img/smalllogo.jpg");*/
    /*background-size: cover;*/
    /*background: no-repeat;*/
    /*background: center;*/
/*}*/