<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="partials :: head('About the Team!')"></th:block>
    <link rel="stylesheet" th:href="@{/css/aboutteam.css}" />

</head>
<body>
<nav th:replace="partials :: navbar"/>
<!-- ====================  About Us ==================== -->
<section id="team" class="section">
    <div class="container">
        <h2 class="section-head mt-3"><i class="fas fa-users header-icons"></i> Meet The Team</h2>
        <p class="lead hideOnSmall">The developers behind <a th:href="'/'" class="link-custom"> Simple Budget</a>
        </p>
        <hr />
        <div class="grid-profile">

            <!-- =================  Brittany profile ================= -->
            <div id="britt mb-">
                <div class="brittanyPic teamImg"></div>
                <h4 class="mb-1 mt-2 nameHighlight mx-auto">Brittany Russell</h4>
                <div id="icons">
                    <a href="mailto:brittanyrussell1103@gmail.com">
                        <i class="fas fa-envelope-square"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/brittany-russell-codeup/" target="_#">
                        <i class="fab fa-linkedin mx-2"></i>
                    </a>
                    <a href="https://github.com/brittanyrussell">
                        <i class="fab fa-github-square"></i>
                    </a>
                </div>
            </div>

            <!-- ================= Hunter profile ================= -->
            <div id="hunter">
                <div class="hunterPic teamImg"></div>
                <h4 class="mb-1 mt-2 nameHighlight mx-auto">Hunter Houts</h4>
                <div id="icons">
                    <a href="mailto:hunter.alexander.houts@gmail.com">
                        <i class="fas fa-envelope-square"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/hunter-houts/" target="_#">
                        <i class="fab fa-linkedin mx-2"></i>
                    </a>
                    <a href="https://github.com/Hunter-Houts">
                        <i class="fab fa-github-square"></i>
                    </a>
                </div>
            </div>

            <!-- ================= Patrick profile ================= -->
            <div id="patrick mb-5">
                <div class="patrickPic teamImg"></div>
                <h4 class="mb-1 mt-2 nameHighlight mx-auto">Patrick Fisher</h4>
                <div id="icons">
                    <a href="mailto:patrick.ryan.fisher@gmail.com">
                        <i class="fas fa-envelope-square"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/patrickryanfisher/" target="_#">
                        <i class="fab fa-linkedin mx-2"></i>
                    </a>
                    <a href="https://github.com/patrickrfisher">
                        <i class="fab fa-github-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================  Footer Section ====================  -->
<footer th:replace="partials :: footer"/>

</body>
</html>