
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials :: head('Home | Simple Budget')"/>
    <link rel="stylesheet" th:href="@{/css/homepage.css}" />

</head>
<body>
<nav th:replace="partials :: navbar"/>
<section id="aboutsb">
    <div class="container">
        <div class="about text-center text-light">
        </div>
    </div>
</section>
<div class="content text-center text-light">
    <h2>Welcome to Simple Budget</h2>
    <h3> Everyone has money, however not everyone is good at budgeting the money they have. Whether you are already financially stable and want to maintain that or if you just want to take the steps to become more budget savy then Simple Budget is for you.</h3>
</div>
<section id="plx">
    <div class="container">
        <div class="wtitle text-center text-light">
        </div>
    </div>
</section>
<footer th:replace="partials :: footer"/>
</body>
</html>