<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}">title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark" style="margin:0; padding:0; list-style-type:none;">
    <div class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link active" href="/posts">Community</a>
        <a class="nav-item nav-link active" href="/posts/create">Create Post</a>
        <a class="nav-item nav-link "  th:href="@{|/users/${#authentication.principal.id}/edit|}">Edit Profile</a>
        <a class="nav-item nav-link active" href="/reviews/create">Leave a Review</a>


        <form th:action="@{/logout}" th:method="POST">
            <button id="logoutBtn" type="submit" class="nav-item nav-link navlink-custom btn btn-danger" style="background-color: transparent; border: none;"><i class="fas fa-sign-out-alt"></i> Logout</button>
        </form>

    </div>
    <div class="navbar-nav mr-auto" sec:authorize="isAnonymous()">
        <a class="nav-item nav-link active" href="/">Home</a>
        <a class="nav-item nav-link active " href="/posts">Community</a>
        <a th:href="'/sign-up'" class="nav-item nav-link ">Sign Up!</a>
        <a th:href="'/login'" class="nav-item nav-link ">Login</a>
    </div>
</nav>
<footer th:fragment="footer" style="position:relative;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;">
    <div class="container text-center p-2 white">
        <div class="col-12">
            <a class="link-custom" th:href="'/'">Home </a>
            <span>|</span>
            <a class="link-custom" th:href="'/faq'">FAQ</a>
            <span>|</span>
            <a class="link-custom" th:href="'/about-team'">The Team</a>
            <span>|</span>
            <a class="link-custom" th:href="'/supincome'">Supplemental Income</a>
            <span>|</span>
            <a class="link-custom" th:href="'/reviews'">Our Reviews</a>

        </div>
        <div class="col-12 footer-bottom text-center white">
            <em>SimpleBudget Copyright &copy; 2018</em>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</footer>
</body>
</html>