<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${title}">title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar sticky-top navbar-expand-md navbar-dark bg-dark" style="margin:0; padding:0; list-style-type:none;">
    <div class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
        <a class="navbar-brand" th:href="'/'">
            <span class="mr-1"><img th:src="@{/img/favicon.ico}" alt="" style="width: 35px; height: 35px;" /></span>
            Simple Budget
        </a>
    </div>
    <div class="navbar-nav mr-auto" sec:authorize="isAnonymous()">
        <a class="navbar-brand" th:href="'/'">
            <span class="mr-1"><img th:src="@{/img/favicon.ico}" alt="" style="width: 35px; height: 35px;" /></span>
            Simple Budget
        </a>
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
        <!--<a class="nav-item nav-link active navlink-custom" href="/">Home</a>-->
        <a class="nav-item nav-link active navlink-custom " href="/posts"><i class="fas fa-clipboard"></i> Community</a>
        <!--<a class="nav-item nav-link active navlink-custom" href="/posts/create">Create Post</a>-->
        <!--<a class="nav-item nav-link navlink-custom" href="/account-setup">Set Up Account</a>-->
        <!--<a class="nav-item nav-link navlink-custom"  th:href="@{|/users/${#authentication.principal.id}/edit|}">Edit Profile</a>-->
        <a class="nav-item nav-link active navlink-custom" href="/profile"><i class="fas fa-user"></i> Your Profile</a>
        <a class="nav-item nav-link active navlink-custom" href="/reviews/create"><i class="fas fa-star"></i> Leave a Review</a>
        <form th:action="@{/logout}" th:method="POST">
            <button id="logoutBtn" type="submit" class="nav-item nav-link active navlink-custom btn btn-danger" style="background-color: transparent; border: none;"><i class="fas fa-sign-out-alt"></i> Logout</button>
        </form>
    </div>
    <div class="navbar-nav mr-auto" sec:authorize="isAnonymous()">
        <!--<a class="nav-item nav-link active navlink-custom" href="/">Home</a>-->
        <a class="nav-item nav-link active navlink-custom" href="/posts"><i class="fas fa-clipboard"></i> Community</a>
        <a th:href="'/sign-up'" class="nav-item nav-link active navlink-custom "><i class="fas fa-user-plus"></i> Sign Up</a>
        <a th:href="'/login'" class="nav-item nav-link active navlink-custom "><i class="fas fa-sign-in-alt"></i>  Login</a>
    </div>
    <li class="search-custom"><form class="search-custom" role="search" action="/search" method="GET">
        <input class="search-custom" type="search" name="search"/>
        <input class="search-custom btn" style="background-color: white;color: #343a40; padding: 2px 7px;" type="submit" value="Search Community!"/>    </form>
    </li>
    </div>

</nav>

<footer th:fragment="footer" style="
   bottom: 0;
   width:100%;
   height:60px;
   background-color: #343a40;">
    <div class="container text-center  white" style="background-color: #343a40;">
        <div class="col-12">
            <a class="link-custom" style="color: #eae0c8;" th:href="'/'">Home </a>
            <span>|</span>
            <a class="link-custom" style="color: #eae0c8;" th:href="'/faq'">FAQ</a>
            <span>|</span>
            <a class="link-custom" style="color: #eae0c8;" th:href="'/about-team'">The Team</a>
            <span>|</span>
            <a class="link-custom" style="color: #eae0c8;" th:href="'/supincome'">Supplemental Income</a>
            <span>|</span>
            <a class="link-custom" style="color: #eae0c8;" th:href="'/reviews'">Our Reviews</a>
<!--thhis is a it should work test-->

        </div>
        <div class="col-12 footer-bottom text-center white">
            <em style="color: #eae0c8;" >SimpleBudget Copyright &copy; 2018</em>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</footer>
</body>
</html>
