<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials :: head('This is the Supplemental Income')"></th:block>
</head>
<body>
<nav th:replace="partials :: navbar"/>

<div class="container text-center mt-4">
    <div>
        <h2 class="faq-heading mt-5"> Ideas for Supplemental Income</h2>
        <hr/>
    </div>

    <div class="mt-4">
        <section id="questions mt-5">
            <!-- ===== question 1 ===== -->
            <div class="question1 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                <i class="far fa-question-circle"></i> I have more bills then expected this month, what should I do?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        When unexpected bills come up it puts stresses on everyone involved. We have come up with some ideas on how to meet the financial goals that you desire.
                    </div>
                </div>
            </div>
            <!-- ===== question 2 ===== -->
            <div class="question2 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="heading headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                <i class="far fa-question-circle"></i> Are there some ways to earn extra income with my car on the weekends?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Yes, Below are some apps that would be beneficial to learn more about to earn more income from driving people. These apps do not focus on food delivery and are mostly beneficial to others who wish to drive people only!
                        <br/>
                        <ul>
                           <li><a href="https://www.uber.com/">Uber!(Great for people or food delivery!)</a><br/>
                            Founded in 2009, Uber dominates the app-based rideshare market. As long as you and your car meet Uber’s requirements, you can become a driver. Driver pay is based on trip distance and time, less Uber’s commission, and plus tips. There’s also surge pricing during busy times and, in some cases, guaranteed earnings.
                           </li>
                            <li><a href="https://www.lyft.com/drive-with-lyft">Lyft!(Great for driving people!)</a><br/>
                                Uber’s main competitor, Lyft, jumped into the rideshare game in 2012. The two companies have roughly the same pricing, incentives and pay structure for drivers. But while Uber shines in sheer size, many drivers who have worked for both companies report a more driver-friendly culture at Lyft when it comes to passengers, pay and driver expectations.
                            </li>
                            <li>
                                <a href="https://www.wingz.me/drivers/">Wingz!(Good alternative for driving people!)</a><br/>
                                Originally an app customers could use to get rides to and from the airport, Wingz now covers any route you’d like scheduled in advance — all for a predetermined, flat rate. This makes Wingz ideal for those who prefer predictability. Wingz takes a fee from the total trip price, but drivers can also receive tips. Service is currently available in 12 metro areas.
                            </li>
                            <li>
                                <a href="">HOPSKIPDRIVE!(Another alt to Uber)</a><br/>
                                This app was created by three working parents to provide rideshare transportation for children. If drivers pass a screening process, including having five or more years of child care experience, they can make up to $30 per hour, according to the HopSkipDrive’s site. Minimum fares start at $16 for non-carpool rides in Southern California. Drivers make their ride fare, minus HopSkipDrive’s booking and service fees. HopSkipDrive is currently available in Los Angeles and San Francisco. (Don’t live in one of these areas? Consider Care.com for jobs nannying or driving children.)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ===== question 3 ===== -->
            <div class="question2 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                <i class="far fa-question-circle"></i> What if I rather just deliver items or food and deal with no people?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        The following apps provide extra income to those who wish to not deal with people and only drop off food.Food delivery services let customers order items from local eateries and pay within the app. The apps have varying pay structures and incentives for drivers, so check the platform for details when you sign up. <br/>
                        <ul>
                            <li>
                                <a href="https://driver.grubhub.com/">GrubHub</a><br/>
                                Grubhub claims to have “more orders than any other platform” and is available in more than 1,200 U.S. cities. It says its top earners have made as much as $25 per hour. Drivers are paid a fee for each delivery, plus a mileage-based fee and tips. In some cities, they can qualify for a minimum hourly rate.
                            </li>
                            <li>
                                <a href="https://www.uber.com/a/signup/drive/deliver/?70307t=">UberEats!</a><br/>
                                Uber’s food delivery service pays drivers based on each pickup and drop-off, as well as trip mileage, less Uber’s fee. Specific rates vary by city. Drivers can receive tips and an increased “boost” fare during busy times. In some cities you must already be an Uber driver to join, but in others you can join UberEATS directly. And, while UberX cars must be 2002 models or newer, UberEATS cars can be 1997 or newer in many cities.
                            </li>
                            <li>
                                <a href="https://www.doordash.com/dasher/signup/">DoorDash</a><br/>
                                If you want to start earning quickly, try DoorDash. Drivers need to be at least 18 years old and pass a background check, but there are no vehicle requirements, and in some cities you can do your orientation online. Dashers earn a minimum per delivery, plus a “pay boost” — determined by the distance and complexity of the trip — and tips. Check your city’s pay structure to see if DoorDash will guarantee your earnings.
                            </li>
                            <li>
                                <a href="https://postmates.com/login">Postmates(Not just food!)</a><br/>
                                Postmates is closely compared to other online delivery services such as Uber, Lyft, or Waiter.com because of its use of mobile phones to receive orders and dispatch delivery drivers
                            </li>
                            <li>
                                <a href="https://flex.amazon.com/">Amazon-Flex</a><br/>
                                The company is hiring drivers to deliver packages as part of its new Amazon Flex program, which lets people order and receive items from Prime Now within an hour. As long as you hit that delivery window and have a car and smartphone, they'll pay you $18 to $25 an hour.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ===== question 4 ===== -->
            <div class="question4 questionLead">
                <div class="accordion" id="accordionExample">
                    <div id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour">
                                <i class="far fa-question-circle"></i> What other things can I do for extra income?
                            </button>
                        </h5>
                    </div>
                </div>
                <div id="collapseFour" class="collapse hide mb-5" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        There are still plenty of ways out there to earn extra income, some people find alot of luck on these following websites.<br/>
                        <ul>
                            <li>
                                <a href="https://www.ebay.com/">Ebay</a><br/>
                                eBay is the world's online marketplace; a place for buyers and sellers to come together and buy or sell almost anything!
                                You should try selling your old things here that you never use anymore
                            </li>
                            <li>
                                <a href="https://www.etsy.com/">Etsy</a><br/>
                                Etsy is an e-commerce website focused on handmade or vintage items and supplies, as well as unique factory-manufactured items. These items cover a wide range, including art, photography, clothing, jewelry, food, bath and beauty products, quilts, knick-knacks, and toys.
                            </li>
                            <li>
                                <a href="https://www.biolifeplasma.com/">BioLife</a><br/>
                                BioLife Plasma Services is an industry leader in the collection of high quality plasma that is processed into life-saving plasma- based therapies.
                                You can earn up to a extra 270$ per month from donating plasma!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<footer th:replace="footer2 :: footer"/>
</body>
</html>